<div class="author">
    <h1 class="auhtor_heading">search Results</h1>
</div>
<section class="articles">
    
    <ul class="article-list">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>
</section>